* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.centered {
  justify-content: center;
  align-items: center;
}

.row.centered > p {
  padding: 20px;
}

.results {
  align-items: stretch;
}

h1 {
  padding: 10px;
}

input {
  height: 30px;
  width: 175px;
}

.name {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}
